@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: hsla(0, 0%, 100%, 0.75);
}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 960px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.box{
    padding: 50px;
}

.box h1{
    color: hsl(0, 0%, 95%);
    font-size: 35px;
    text-transform: uppercase;
    margin: 20px 0;
}

.box p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 16px;
    margin-bottom: 60px;
}

.box a{
    text-decoration: none;
    background-color: hsl(0, 0%, 95%);
    padding: 10px 27px;
    border-radius: 26px;
}

.box a:hover{
    background-color: transparent;
    color:hsl(0, 0%, 95%) ;
    border: 2px solid white;
}


.box1{
    background-color: hsl(31, 77%, 52%);
}

.box2{
    background-color: hsl(184, 100%, 22%);
}

.box3{
    background-color: hsl(179, 100%, 13%);
}

.box1 a{
    color: hsl(31, 77%, 52%);
}

.box2 a{
    color: hsl(184, 100%, 22%);
}

.box3 a{
    color: hsl(179, 100%, 13%);
}

@media screen and (max-width:426px) {
    .wrapper{
        display: flex;
        flex-direction: column;
        grid-template-rows: 3 1fr;
        margin: 45px 20px;
    }

    .box{
        padding: 40px;
    }
}